<div class="row">
  <div class="col-md-4">
    <input class="form-control" type="text" (keyup.enter)="add(course)" #course />
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let course of courses$ | async">
        {{course.$value}}
        <button class="btn btn-info btn-sm" (click)="update(course)">Update</button>
        <button class="btn btn-warning btn-sm" (click)="delete(course)">Delete</button>
      </li>
    </ul>
    <!-- <p>{{(course$ | async).$value | json}}</p> -->
  </div>
</div>